torch
transformers 
pandas 
numpy 
scikit-learn 
tqdm
torchvision
torch-geometric
pandas
scikit-learn
transformers
torch-scatter --find-links https://data.pyg.org/whl/torch-2.5.1+cu121.html
torch-sparse --find-links https://data.pyg.org/whl/torch-2.5.1+cu121.html
torch-cluster --find-links https://data.pyg.org/whl/torch-2.5.1+cu121.html
torch-spline-conv --find-links https://data.pyg.org/whl/torch-2.5.1+cu121.html
